@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Profesiones</h1>
    <h4>Encontrar un profesional nunca fue tan fácil</h4>
    <a asp-controller="Profesionales">Profesionales</a>.
    <a asp-controller="Actividads">Actividades</a>.
    <a asp-controller="ProfesionalesActividades">Actividades y Profesionales</a>.
</div>
