@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>Soy un pequeño programador muy lejos de su casa</p>
<p>Escribiendo pequeños poemas de código</p>
<p>Para alcanzar el corazón de Skynet</p>
