@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trifulcas MOLA!!!!</h1>
    <p>Pincha, no seas melón: <a href="https://trifulcas.com">Aprende a programar tarugo</a>.</p>
    <p><img src="img/cutecat.jpg" width="400"/></p>
</div>
